#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: url('../src/assets/img/cursor-default.png'), auto;
}

.pointer, button, a {
  cursor: url('../src/assets/img/cursor-pointer.png'), pointer;
}

html {
  scroll-snap-type: y mandatory;
}