html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
  scroll-padding: 0;
  scroll-margin: 0;
}

#root {
  height: 300vh;
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: url('../src/assets/img/cursor-default.png'), auto;
}

.pointer, button, a {
  cursor: url('../src/assets/img/cursor-pointer.png'), pointer;
}